body{
    background-image: url(Back2.jpg);
    background-repeat: no-repeat;
    /* background-position: 100% 40%; */
    /* background-position: center center; */
    background-size: cover;
}

p{
    color:rgb(196, 207, 192)
}

h1{
    color:rgb(16, 23, 59)
}
.foto{
    width: 300px;
}