* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    color:white;
    font-family: 'Raleway', sans-serif;
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(33,53,166,1) 100%);

}

.avatar{
    border: 3px solid white;
    box-shadow: 0 0 20px white;
    width: 80px;
    border-radius: 50px;
}

h1{
    font-family: 'Tilt Neon', cursive;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 2px;
    
}
h2{
    font-size: 16px;
    
}

.profile{
    margin-top: 20px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    list-style: none;
}

.social img {
    width: 33px;
}
/* .bloco-link{

    display:flex;
    margin-left: 5%;
    font-family: 'Tilt Neon', cursive;
    color: rgba(33,53,166,1);
    
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px white;
    
    
    
    width:90%;
    height: 80px;
    background-color: aliceblue;
} */
.links-list{
    list-style: none;
    
}
.links-list li a{
    display: block;
    color: black;
    background: white ;
    text-decoration: none;
    
    padding: 15px 20px;
    margin: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px white;
    color: rgba(33,53,166,1);
    font-weight: bold;
}
.links-list li a span {
    color: gray;
    display: block;
    margin-top: 10px;
}
.second{
    margin: 25px 0px;
    
}